@media screen and (max-width: 1100px){
	.box-1{
		top: 30%;
		width: 46%;
	}
	.box-2{
		top: 30%;
		right: 10px;
	}
	.box-2 p{
		padding: 0;
	}
	.box-2 a{
		padding: 10px 20px;
	}
	.box-2 a::before{
		left: 50px;
	}
	.our_works .nav ul li{
		padding: 15px 0;
	}
	.menu-btn{
		float: right;
		width: 55px;
		height: 55px;
		background: #686b95;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		position: relative;
		cursor: pointer;
	}
	.menu-btn span{
		width: 18px;
		height: 2px;
		background: #ffffff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1px 0 0 -9px;
	}
	.menu-btn span::before, .menu-btn span::after{
		content: '';
		width: 18px;
		height: 2px;
		background: #ffffff;
		position: absolute;
		left: 0;
	}
	.menu-btn span::before{
		top: -5px;
	}
	.menu-btn span::after{
		bottom: -5px;
	}
	.menu-btn.is-active span{
		background: transparent;
	}
	.menu-btn.is-active span::before{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 0;
	}
	.menu-btn.is-active span::after{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		bottom: 0;
	}
	.nav{
		display: none;
		width: 140px;
		background: #686b95;
		position: absolute;
		opacity: 0.9;
		right: 0;
		top: 55px;
		padding: 3px 20px;
		-webkit-border-radius: 3px;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius: 3px;
		-moz-border-radius-topright: 0;
		border-radius: 3px;
		border-top-right-radius: 0;
	}
	.our_works .nav{
		opacity: 1;
	}
	.nav ul{
		padding: 0;
	}
	.nav ul li{
		padding-bottom: 10px;
	}
	.nav a i{
		display: none;
	}
	.flex-our-works{
		flex-flow: wrap;
	}
	.item-our-works{
		width: 30%;
	}
	.item-card{
		width: 30%;
		margin-right: 5px;
	}
}
@media screen and (max-width: 880px){
	.item .link::before{
		display: none;
	}
	.box-1 h3{
		font-size: 50px;
	}
	.box-1 h3 span{
		font-size: 30px;
	}
	.box-2 a::before{
		display: none;
	}
	.box-2 p{
		font-size: 24px;
		margin-bottom: 30px;
	}
	.box-2 a{
		font-size: 10px;
		padding: 10px 0;
		width: 29%;
	}
	.item-our-works{
		width: 50%;
	}
	.item-card{
		width: 45%;
		margin-right: 0;
	}
}
@media screen and (max-width: 686px){
	.item{
		width: 100%;
		float: right;
		padding: 50px 0;
	}
	.item h3{
		padding: 0 15px;
		font-size: 25px;
		margin: 0 0 20px;
	}
	.item .link{
		width: 43%;
		top: 28px;
	}
	.carousel_2 .link{
		margin: 0 34%;
		width: 39%;
	}
	.box-1{
		top: 25%;
		left: 34%;
	}
	.box-1 h3{
		font-size: 35px;
	}
	.box-1 h3 span{
		font-size: 15px;
	}
	.box-2{
		left: 25%;
		top: 47%;
	}
	.box-2 p{
		font-size: 16px;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 540px){
	.item p{
		font-size: 15px;
		padding: 0 15px;
	}
	.carousel_2 .link{
		margin: 0 46%;
		width: 44%;
	}
	.slick-arrow::before {
		top: 36%;
		background: url(../img/arrow-slider.png) 50% 5px no-repeat;
		width: 30px;
		height: 30px;
		left: 120%;
	}
	.slick-next.slick-arrow::before {
		top: 38%;
		left: 6px;
		background-position: 60% -45px;
	}
	.box-1{
		top: 25%;
		left: 40%;
	}
	.box-1 h3{
		font-size: 20px;
	}
	.box-1 h3 span{
		padding: 0;
		font-size: 12px;
	}
	.box-2{
		left: 25%;
		top: 38%;
	}
	.box-2 p{
		font-size: 12px;
		margin-bottom: 10px;
	}
	.box-2 a {
		font-size: 7px;
		padding: 5px 0;
		width: 30%;
	}
	.item-our-works{
		width: 100%;
	}
	.item-card{
		width: 50%;
	}
}
@media screen and (max-width: 370px){
	.carousel .slick-arrow::before{
		display: none;
	}
	.carousel_2{
		padding: 31px 0 40px;
	}
	.carousel_2 .link{
		width: 74%;
	}
	.carousel_2 h3{
		padding: 0 50px;
		font-size: 40px;
		margin: 0 0 70px;
	}
	.sliders{
		padding-bottom: 70px;
	}
	.carousel_2 h3::before{
		display: none;
	}
	.sliders .slick-dots{
		top: -11%;
		left: 47%;
	}
	.slick-arrow::before {
		top: 95%;
		left: 120%;
	}
	.slick-next.slick-arrow::before {
		top: 95%;
		left: 6px;
	}
	.carousel_2 .link{
		margin: 0 15%;
	}
	.box-1{
		top: 50%;
		left: 2%;
	}
	.box-1 h3{
		font-size: 20px;
	}
	.box-1 h3 span{
		padding: 0;
		font-size: 12px;
	}
	.box-2{
		left: 46%;
		top: 45%;
	}
	.box-2 p{
		font-size: 8px;
		margin-bottom: 10px;
	}
	.box-2 a {
		font-size: 7px;
		padding: 5px 0;
		width: 50%;
	}
	.our-works-block h3{
		font-size: 30px;
		margin: 0 0 70px;
	}
	.our-works-block h3::before{	
		top: 70px;
		left: 43%;
	}
	.item-card{
		width: 100%;
	}
	.green-line h5 a{
		font-size: 18px;
	}
}