@media screen and (max-width: 960px){

	.menu-btn{
		float: right;
		width: 55px;
		height: 55px;
		background: #686b95;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		position: relative;
		cursor: pointer;
	}
	.menu-btn span{
		width: 18px;
		height: 2px;
		background: #ffffff;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1px 0 0 -9px;
	}
	.menu-btn span::before, .menu-btn span::after{
		content: '';
		width: 18px;
		height: 2px;
		background: #ffffff;
		position: absolute;
		left: 0;
	}
	.menu-btn span::before{
		top: -5px;
	}
	.menu-btn span::after{
		bottom: -5px;
	}
	.menu-btn.is-active span{
		background: transparent;
	}
	.menu-btn.is-active span::before{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 0;
	}
	.menu-btn.is-active span::after{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		bottom: 0;
	}
	.nav{
		display: none;
		width: 140px;
		background: #686b95;
		position: absolute;
		opacity: 0.9;
		right: 0;
		top: 55px;
		padding: 3px 20px;
		-webkit-border-radius: 3px;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius: 3px;
		-moz-border-radius-topright: 0;
		border-radius: 3px;
		border-top-right-radius: 0;
	}
	.nav ul{
		padding: 0;
	}
	.nav ul li{
		padding-bottom: 10px;
	}
	.nav a i{
		display: none;
	}
}