body{
	font-family: 'Lato', sans-serif;
	color:#fff;
	background: #000;
	font-size: 14px;
	line-height: 1.3;
	min-width: 300px;
}
.container{
	min-width: 300px;
	max-width: 1300px;
	margin: 0 auto;
}



/* ------------home.html----------------
* 1 = Header
* 2 = Carousel
* 3 = Content Block 
* 4 = Carousel_2  
* 5 = Our Services 
* 6 = About Us 
* 7 = Testimonials
* 8 = Blue block
* 9 = Footer
*/



/*<!--1. Header
============================================================ -->*/
header{
	position: absolute;
	width: 100%;
	z-index: 4;
}
.header-top{
	margin: 20px 0 0;
	position: relative;
}
.logo{
	float: left;
	font-size: 30px;
	font-weight: 900;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.logo span{
	font-weight: 400;
}
.nav{
	float: right;
}
.nav ul {
	display: inline-block;
}
.nav ul li{
	display: inline-block;
	padding-right: 20px;
}
.nav ul li:last-child{
	padding-right:  0;
}
.nav ul li a{
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.nav ul li a i{
	padding-left: 20px;
}
/*<!--1. End Header
============================================================ -->*/



/*<!--2. Carousel
============================================================ -->*/
.carousel{
	width: 100%;
	position: relative;
}
.carousel img{
	display: block;
	height: auto;
	width: 100%;
	z-index: 2;
}

.slick-arrow{
	position: absolute;
	height: 100%;
	width: 6%;
	background: transparent;
	border: none;
	z-index: 100;
	bottom: 0;
	padding: 0;
}
.slick-arrow::before{
	content: '';
	width: 38px;
	height: 77px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.slick-slide{
	position: relative;
}
.slick-dots li{
	display: none;
}
.slick-arrow::before{
	top: 30%;
	cursor: pointer;
	background: url(../img/arrow-slider.png) 50% 26px no-repeat;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid #fff;
	left: 125px;
}
.slick-prev{
	left: 0;
	font-size: 0;
}
.slick-next{
	right: 0;
	font-size: 0;
}
.slick-next.slick-arrow::before{
	top: 30%
	cursor: pointer;
	left: -66px;
	background-position: 50% -26px;
}
.box-1 h3{
	text-transform: uppercase;
	font-size: 78px;
	font-weight: 900;
	margin: 0;
}
.box-1 h3 span{
	font-size: 42px;
	display: block;
	font-weight: 700;
	padding-left: 35px;
}
.box-1{
	position: absolute;
	top: 40%;
	width: 37%;
}
.box-2{
	position: absolute;
	top: 40%;
	width: 50%;
	right: 0;
	text-align: center;
}
.box-2 p{
	padding: 0 60px;
	font-size: 30px;
	font-weight: 400;
	margin: 12px 0 100px;
}
.box-2 a{
	text-decoration: none;
	font-size: 16px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 40px;
	text-transform: uppercase;
	display: block;
	width: 31%;
	margin: 0 auto;
	position: relative;
	letter-spacing: 2px;
}
.box-2 a::before{
	content: '';
	width: 50px;
	height: 1px;
	position: absolute;
	top: -50px;
	left: 75px;
	background: #fff;
}
/*<!--2. End Carousel
============================================================ -->*/



/*<!--3. Content Block
============================================================ -->*/


/*<!--3. End Content Block
============================================================ -->*/



/*<!--4. Carousel_2
============================================================ -->*/


/*<!--4. End Carousel_2
============================================================ -->*/



/*<!--5. Our Services
============================================================ -->*/
.our-services{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: wrap;
	padding: 0 0 0 2%;
}
.services-block{
	width: 640px;
	height: 439px;
	display: inline-block;
	background: #eaeaea;
	position: relative;
	vertical-align: top;
}
.services-block .ico{
	position: absolute;
	display: block;
}
.num3>.ico, .num4>.ico{
	top: 25%;
	left: 20%;
}
.num1>.ico, .num2>.ico, .num5>.ico, .num6>.ico{
	top: 25%;
	right: 20%;
}
.services-block .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	top: 44%;
	
}
.num1 .num2 .num3 >.triangle{
	left: 300px;
}
.num4 .num5 .num6 >.triangle{
	left: 320px;
}
.num1 .ico{
	background: url(../img/home-page_services-block_sprite.png) 0px 0px no-repeat;
	width: 83px;
	height: 150px;
}
.num1 .triangle{
	border-width: 17px 0 17px 20px;
	border-color: transparent transparent transparent #00c59e;
	left: 50%;
}
.num2 .ico{
	background: url(../img/home-page_services-block_sprite.png) -97px -22px no-repeat;
	width: 150px;
	height: 106px;
}
.num2 .triangle{
	border-width: 17px 0 17px 20px;
	border-color: transparent transparent transparent #df4343;
	left: 50%;
}
.num3 .ico{
	background: url(../img/home-page_services-block_sprite.png) -261px -28px no-repeat;
	width: 100px;
	height: 100px;
}
.num3 .triangle{
	border-width: 17px 20px 17px 0;
	border-color: transparent #64b341 transparent transparent;
	left: 47%;
}
.num4 .ico{
	background: url(../img/home-page_services-block_sprite.png) 0px -157px no-repeat;
	width: 100px;
	height: 80px;
}
.num4 .triangle{
	border-width: 17px 20px 17px 0;
	border-color: transparent #874ab6 transparent transparent;
	left: 47%;
}
.num5 .ico{
	background: url(../img/home-page_services-block_sprite.png) -114px -157px no-repeat;
	width: 100px;
	height: 89px;
}
.num5 .triangle{
	border-width: 17px 0 17px 20px;
	border-color: transparent transparent transparent #ffa200;
	left: 50%;
}
.num6 .ico{
	background: url(../img/home-page_services-block_sprite.png) -228px -157px no-repeat;
	width: 100px;
	height: 78px;
}
.num6 .triangle{
	border-width: 17px 0 17px 20px;
	border-color: transparent transparent transparent #2f84e5;
	left: 50%;
}
.additional-block{
	width: 320px;
	height: 439px;
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: bottom;
}
.additional-block p{
	vertical-align: bottom;
	margin: 0;
}
.additional-block::after{
	content: '';
	width: 50px;
	height: 1px;
	position: absolute;
	top: 60%;
	left: 21%;
	background: #fff;
}
.num4>.additional-block, .num3>.additional-block{
	float: right;
}
.num1>.additional-block, .num2>.additional-block, .num5>.additional-block, .num6>.additional-block{
	float: left;
}
.num1>.additional-block{background: #00c59e;}
.num2>.additional-block{background: #df4343;}
.num3>.additional-block{background: #64b341;}
.num4>.additional-block{background: #874ab6;}
.num5>.additional-block{background: #ffa200;}
.num6>.additional-block{background: #2f84e5;}

/*<!--5. End Our Services
============================================================ -->*/



/*<!--6. About Us
============================================================ -->*/


/*<!--6. End About Us
============================================================ -->*/



/*<!--7. Testimonials
============================================================ -->*/


/*<!--7. End Testimonials
============================================================ -->*/



/*<!--8. Blue block
============================================================ -->*/


/*<!--8. End Blue block
============================================================ -->*/



/*<!--9. Footer
============================================================ -->*/


/*<!--9. End Footer
============================================================ -->*/



/* ------------our-works.html----------------
* 1 = Our Works Block
* 2 = Green Line

---Styles of these sections are present above---
* 3 = Testimonials  
* 4 = Blue block  
* 5 = Footer
*/



/*<!--1. Our Works Block
============================================================ -->*/


/*<!--1. End Our Works Block
============================================================ -->*/



/*<!--2. Green line
============================================================ -->*/


/*<!--2. End Green line
============================================================ -->*/



/* ------------contact-us.html----------------
* 1 = Your Details Block
* 2 = Contact Info 
* 3 = Map

---Styles of these sections are present above---
* 4 = Blue block  
* 5 = Footer
*/



/*<!--1. Your Details Block
============================================================ -->*/


/*<!--1. End Your Details Block
============================================================ -->*/



/*<!--2. Contact Info 
============================================================ -->*/


/*<!--2. End Contact Info 
============================================================ -->*/



/*<!--3. Map
============================================================ -->*/


/*<!--3. End Map
============================================================ -->*/